<<<<<<< HEAD
=======


>>>>>>> 5e0d9a18836cee2f4ab69a983cd0da9cc3371591
img {
	width: 120px;
	height: auto;
}
header {
    color: white;
}

#first {
	background-color: #89818A;
	border-radius: 25px;
    border: 2px solid #89818A;
    padding: 20px;
    width: 700px;
    height: 310px;
<<<<<<< HEAD
    margin:auto 300px;
    margin-bottom: 20px;
=======
    margin:-575px 300px;
    margin-bottom: 10px;
>>>>>>> 5e0d9a18836cee2f4ab69a983cd0da9cc3371591
}

#sec {
	background-color: #89818A;
	border-radius: 25px;
    border: 2px solid #89818A;
    padding: 20px;
    width: 700px;
    height: 240px;
<<<<<<< HEAD
    margin-bottom: 20px; 
    margin:20px 300px;
}

#thr {
    background-color: #89818A;
    border-radius: 25px;
    border: 2px solid #89818A;
    padding: 20px;
    width: 700px;
    height: 240px;
    margin-bottom: 20px;
    margin:20px 300px;
}
#frth {
    background-color: #89818A;
    border-radius: 25px;
    border: 2px solid #89818A;
    padding: 20px;
    width: 700px;
    height: 240px;
    margin:20px 300px;
}

#sidebar {
    position:absolute;
    width:110px;
    background:lightgray;
    height: 70%;
=======
    margin-top:-200px;
    margin:0px 300px;
}

#sidebar {
    position:relative;
    width:100px;
    background:lightgray;
    height: 100%;
>>>>>>> 5e0d9a18836cee2f4ab69a983cd0da9cc3371591

}

body {
	background-image: url(http://i.imgur.com/VKTPd2M.jpg);
}
<<<<<<< HEAD
=======



>>>>>>> 5e0d9a18836cee2f4ab69a983cd0da9cc3371591
