
img {
	width: 120px;
	height: auto;
}
header {
    color: white;
}

#first {
	background-color: #89818A;
	border-radius: 25px;
    border: 2px solid #89818A;
    padding: 20px;
    width: 700px;
    height: 310px;
    margin:auto 300px;
    margin-bottom: 20px;
    margin:-575px 300px;
    margin-bottom: 10px;
}

#sec {
	background-color: #89818A;
	border-radius: 25px;
    border: 2px solid #89818A;
    padding: 20px;
    width: 700px;
    height: 240px;
    margin-bottom: 20px; 
    margin:20px 300px;
}

#thr {
    background-color: #89818A;
    border-radius: 25px;
    border: 2px solid #89818A;
    padding: 20px;
    width: 700px;
    height: 240px;
    margin-bottom: 20px;
    margin:20px 300px;
}
#frth {
    background-color: #89818A;
    border-radius: 25px;
    border: 2px solid #89818A;
    padding: 20px;
    width: 700px;
    height: 240px;
    margin:20px 300px;
}

#fith {
    background-color: #89818A;
    border-radius: 25px;
    border: 2px solid #89818A;
    padding: 20px;
    width: 700px;
    height: 240px;
    margin:20px 300px;
}

#six {
    background-color: #89818A;
    border-radius: 25px;
    border: 2px solid #89818A;
    padding: 20px;
    width: 700px;
    height: 240px;
    margin:20px 300px;
}


#sidebar {
    position:relative;
    width:100px;
    background:lightgray;
    height: 100%;

}

body {
	background-image: url(http://i.imgur.com/VKTPd2M.jpg);
}